<div class="login-register-page">
  <div class="form-container">
  <h1>Sign Up</h1>

  <p class="account">
    Already have an account? <%= link_to "Sign in!", signin_path, class: "ml-2" %>
  </p>

  <%= render "users/form", user: @user %>
  </div>
</div>