
<% if object.errors.any? %>
    <div class="alert alert-danger">
        <section class="errors">
            <h4>Oops! Your form could not be saved.</h4>
            <h5>
                Please correct the following
                <%= pluralize(object.errors.size, "error") %>:
            </h5>
            <ul>
                <% object.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </section>
    </div>
<% end %>
