$primary-color: #4e443e;
$secondary-color: #fd6000;
$secondary-light: #f99b00;
$tertiary-color: #f6f618;
$dark-gray: #767676;
$light-gray: #b5b2af;
$white-text: white;
$black-color: #181e24;

@font-face {
  font-family: 'Carto Gothic';
  src: font-url('carto-gothic/CartoGothicStd-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: font-url('lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chivo';
  src: font-url('chivo/Chivo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header,
.footer {
  background-color: white;
  box-shadow: 3px 3px 5px 4px rgba($color: #dadada, $alpha: 1);

  .navbar-brand {
    color: $secondary-color;
  }

  ul {
    list-style: none;
  }

  li a {
    font-family: 'Chivo';
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: $dark-gray;
    transition: all 0.5s ease-in-out;
  }

  li:focus,
  li:hover {
    a {
      color: $secondary-color;
    }
  }

  .active {
    color: $secondary-color;
  }
}

@import 'bootstrap';
