// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import '_shared';

.top-article {
  min-height: 600px;
  background-size: cover;
  padding: 20px;
  color: $white-text;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .title {
    color: $secondary-color;
  }
}

.category-list {
  display: flex;
}

.category-box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  min-height: 270px;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .category-name {
    color: $white-text;
    text-decoration: none;
    border-bottom: 2px solid $tertiary-color;
  }

  .title {
    color: $white-text;
    font-size: 18px;
    font-weight: bold;
  }
}

#votes {
  a {
    text-decoration: none;
  }
}

.category-article-list {
  // display: flex;
  // flex-wrap: wrap;
}
