@import '_shared';

.main {
  min-height: calc(100vh - 135px);
}

.vote-icons {
  width: 32px;
}

svg.vote-icons {
  height: 32px;
}

.main-top {
  max-height: 570px;
}

.main-categories {
  max-height: 300px;
}
