$primary-color: #4e443e;
$secondary-color: #fd6000;
$secondary-light: #f99b00;
$tertiary-color: #f6f618;
$dark-gray: #767676;
$light-gray: #b5b2af;
$white-text: white;
$black-color: #181e24;

.main {
  min-height: calc(100vh - 130px);
}

.social-icons {
  width: 32px;
}

.main-top {
  max-height: 570px;
}

.main-categories {
  max-height: 300px;
}

@import 'bootstrap';
