<h3><%= (@category.name).capitalize %></h3>

<ul>
<% @articles.each do |article| %>
    <li class="mb-4">
        <h4><%= link_to article.title, article %></h4>
        <p class="mt-2"><%= truncate(article.text, length: 10) %></p>
        <small><%= link_to "Reed more...", article_path(article) %></small>
        
    </li>

    
<% end %>

</ul>